<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head-imports.html' %}
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <section class="container" id="content">
        <div class="custom-file mb-3">
            <form id="upload-form" action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">

                <strong>Files:</strong>
                <br>
                <input id="file-picker" type="file" name="file" accept="image/*" multiple>
                <div id="msg"></div>
                <input type="submit" value="Auto Process : Extract Body & Pose" id="upload-button">
            </form>
        </div>

        <div class="imgs">
            <img class="imgs" src="{{ url_for('send_image_for_user', filename=imgfile) }}" />
            <img class="imgs" src="{{ url_for('send_image_for_user', filename=imgBody) }}" />
            <img class="imgs" src="{{ url_for('send_image_for_user', filename=imgGray) }}" />
            <img class="imgs" src="{{ url_for('send_image_for_user', filename=imgPosePt) }}" />
            <img class="imgs" src="{{ url_for('send_image_for_user', filename=imgPoseLn) }}" />
        </div>

        <div class="image-container img-responsive">
            <img class="main-img" src="{{ url_for('send_image_for_user', filename=imgfile) }}" id="current">
        </div>

    </section>
    {% include 'scripts.html' %}
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</body>

</html>